<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="animalCat" class="springsession.core.Cat" />
	<bean id="animalDog" class="springsession.core.Dog" />
	
	<bean id="animalNoise" class="springsession.impl.AnimalNoise">
		<constructor-arg ref="animalDog"></constructor-arg>
	</bean>		
	
	<bean id="animalNoise1" class="springsession.impl.AnimalNoise">
		<constructor-arg ref="animalCat"></constructor-arg>
	</bean>		
</beans>
